@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.studentlist{
border: solid 1px rgba(12, 138, 1, 0.385);
border-collapse: collapse;
}
.studentlist tbody td {
border: inset 1px rgba(12, 138, 1, 0.65);
border-collapse: collapse;
}


.studentlist {
    width: 26.313rem;
    background-color: #FCFFFC;
    
}


.studentlist th{
    text-align: center;
    padding: 0.5rem 3rem;
    font-family: 'Open Sans';
    font-size: 0.8REM;
}
.studentlist tbody td{
    padding: 0.5rem;
    font-family: 'Inter';
    font-size: 0.8REM;
    
}

.masterlist{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 0.8REM;
}



.mainbody {
    padding-top: 1REM;
    display: flex;
    flex-direction: row;
    
}

.leftpanel{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 1.188rem;
width: 37rem;
}


.gradingsheet, td, th {
    border-collapse: collapse;
    border: solid 1px  black;
}
.gradingsheet, td {
    border-collapse: collapse;
    border: solid 1px  black;
}

.gradingsheet .subject{
    padding-left: 0.5rem;
}
.rightpanel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.188rem;
    width: auto;
    }

.gradesheethead{
    font-size: 0.8REM;
}
    
    .rightpanel .gradingsheet{
        width: 700.6px;
        height: 419.4px;
        border-collapse: collapse;
    }
    .rightpanel .behaviorsheet{
        width: 800.6px;
        height: 419.4px;
        border-collapse: collapse;
    }
    
    .behaviorsheet .quarter-column {
        width: 60px; /* Adjust this value as needed */
    }

    .behaviorsheet td{
        padding-left: 0.5rem;
    }

   