.main-container{
  padding-top: 20px;
  width: 30vw;
  margin: auto;
  font-family: var(--inter-font);
  height: auto;
}


/*******************PROFILE CONTAINER*******************/
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 15px;
  border-top: solid 1px #f3f3f3;
  border-right: solid 1.5px #dddddde2;
  border-bottom: solid 2px #ccc;
  border-left: solid 1.5px #dddddde2;
  height: 25vh;
}

.card img {
  width: 7rem;
  height: 7rem;
  margin: 0 1rem;
  border-radius: 20px;
}

.profile-name {
  width: 15rem;
  position: relative;
  top: -1rem;
}

.name {
  font-family: var(--inter-font);
  font-weight: 500;
}

.row {
  display: flex;
  flex-direction: row;
  top: -2rem;
  color: #4a4a4a;
}

.row p {
  padding-right: 1rem;
}


.fa-gear {
  color: var(--black-bg);
}

  
  /********************INFORMATION CONTAINER****************/
  .information-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  h2 {
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .information-section {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .information-section label {
    width: 13rem;
    font-weight: 500;
  }
  
  .information-section input,
  .information-section textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Inter;
  }
  
  .information-section textarea {
    height: 5rem;
    resize: none;
  }
  
  .button-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-section button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 48%;
  }
  
  .button-section button:first-child {
    background-color: white;
    color: black;
    border: solid 1px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .button-section button:last-child {
    background-color: #44B639;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }