/* tables */
.tables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

table {
    width: 90%;
    background-color: #FCFFFC;
}

table,th,tr,td .month,.grades{
    border: 0.1px inset #0D8A01A1;
    border-collapse: collapse;
    padding: 0.5rem;
}

.student{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 3rem;
}

.grades{
    text-align: center;
}